<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">
<head th:fragment="head">
<meta charset="UTF-8" />
<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" />
<link rel="stylesheet" th:href="@{/css/styles.css}" />
<!-- 	<link rel="icon" th:ref="@{/static/icons/favicon.ico}"/> -->
<title>Asosegur S.A.S</title>
</head>
<body>
<!-- 	<h1>Asosegur</h1> -->

<!-- 	<header th:fragment="header"> -->
<!-- 		<nav class="navbar navbar-expand-lg navbar-dark bg-dark navbar"> -->
<!-- 			<a class="navbar-brand navbar" href="#">Asosegur</a> -->
<!-- 			<button class="navbar-toggler" type="button" data-toggle="collapse" -->
<!-- 				data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" -->
<!-- 				aria-expanded="false" aria-label="Toggle navigation"> -->
<!-- 				<span class="navbar-toggler-icon"></span> -->
<!-- 			</button> -->
<!-- 			<div class="collapse navbar-collapse" id="navbarNavDropdown"> -->
<!-- 				<ul class="navbar-nav"> -->
<!-- 					<li class="nav-item active navbar"><a class="nav-link" href="#">Home -->
<!-- 							<span class="sr-only">(current)</span> -->
<!-- 					</a></li> -->
<!-- 					<li class="nav-item navbar"><a class="nav-link" href="#">Servicios</a> -->
<!-- 					</li> -->
<!-- 					<li class="nav-item navbar"><a class="nav-link" href="#">Registro</a></li> -->

<!-- 			</div> -->
<!-- 		</nav> -->
<!-- <!-- 			<img th:src="@{/img/logo.png}" class="logo-asosegur"/> --> -->
<!-- 	</header> -->
	<footer th:fragment="footer" class="footer">
<!-- 		<div class="container"> -->

<!-- 			<div class="social"> -->
<!-- 				<img class="logo-asosegur" alt="asosegur" th:src="@{/img/logo.png}" /> -->
<!-- 				<p class="font-social">Redes sociales Asosegur</p> -->

<!-- 				<a href="https://www.linkedin.com/in/tramites-asosegur-b68119148/" -->
<!-- 					class="social-link"><img alt="linkedin" -->
<!-- 					th:src="@{/icons/linkedin.png}" /></a> <a -->
<!-- 					href="https://www.facebook.com/profile.php?id=100052225263595" -->
<!-- 					class="social-link"><img alt="facebook" -->
<!-- 					th:src="@{/icons/facebook.png}" /></a> <a -->
<!-- 					href="https://www.instagram.com/asosegur/" class="social-link"><img -->
<!-- 					alt="instagram" th:src="@{/icons/instagram.png}" /></a> -->
<!-- 			</div> -->
			<script th:src="@{/js/jquery.min.js}"></script>
			<script th:src="@{/js/popper.min.js}"></script>
			<script th:src="@{/js/bootstrap.min.js}"></script>
		</div>
	</footer>

</body>
</html>

