<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">
<head th:fragment="head">
	<meta charset="UTF-8" />
	<title th:text="${titulo}"></title>
	<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}"/>
	<link rel="stylesheet" th:href="@{/css/styles.css}"/>
</head>
<body>

	<header th:fragment="header">
		
	</header>
	
	<div class="container py-4"></div>


<footer th:fragment="footer" class="container text-center">
		<hr/>
		<p>
			Este proyecto fue desarrollado con STS <br/>
			&copy; GPI 2020-2. <br/>
			Todos lo derechos reservados. Términos de uso y privacidad.<br/>
		</p>
		<script th:src="@{/js/jquery.min.js}"></script>
		<script th:src="@{/js/popper.min.js}"></script>
		<script th:src="@{/js/bootstrap.min.js}"></script>
	</footer>
</body>
</html>